.container {
  display: grid;
  place-items: center;
}
.container label,
input {
  display: block;
  padding: 8px;
}

#btn {
  background: rgb(14, 189, 14);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}

#mainbtn {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}
#passwordErrorMsg, #nameErrorMsg{
  margin: 0;
  color: rgb(240, 49, 49);
  font-size: small;
}